body {
  background-color: #060c28;
  transition: 0.5s ease-in;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}
.rainbow-bg {
  animation: rainbow-bg 2.5s ease-in;
  animation-iteration-count: infinite;
}
.rainbow-bg1 {
  animation: rainbow-bg1 1.5s linear infinite;
}

.rainbow {
  animation: rainbow 1s ease-out;
  animation-iteration-count: infinite;
}

@keyframes rainbow-bg {
  100%,
  0% {
    background-color: rgb(86, 91, 250);
  }
  8% {
    background-color: rgb(255, 127, 0);
  }
  16% {
    background-color: rgb(133, 13, 140);
  }
  25% {
    background-color: rgb(127, 255, 0);
  }
  33% {
    background-color: rgb(0, 42, 255);
  }
  41% {
    background-color: rgb(0, 255, 127);
  }
  50% {
    background-color: rgb(0, 255, 255);
  }
  58% {
    background-color: rgb(0, 127, 255);
  }
  66% {
    background-color: rgb(19, 149, 255);
  }
  75% {
    background-color: rgb(127, 0, 255);
  }
  83% {
    background-color: rgb(64, 49, 116);
  }
  91% {
    background-color: #090d1f;
    filter: contrast(20px);
  }
  100% {
    background-color: rgb(22, 18, 18);
    filter: contrast(20px);
  }
}
@keyframes rainbow-bg1 {
  100%,
  0% {
    color: rgb(0, 8, 255);
  }
  8% {
    color: rgb(255, 0, 0);
  }
  16% {
    color: rgb(242, 0, 255);
  }
  25% {
    color: rgb(128, 255, 0);
  }
  33% {
    color: rgb(0, 255, 204);
  }
  41% {
    color: rgb(5, 255, 9);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(95, 64, 147);
  }
  66% {
    color: rgb(234, 255, 0);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(64, 49, 116);
  }
  91% {
    color: #ffffff;
    filter: contrast(20px);
  }
  100% {
    color: rgb(22, 18, 18);
  }
}
* {
  margin: 0;
  padding: 0;
}
.cont {
  margin: auto;
  margin-top: 20px;

  width: 30vw;
  height: 95vh;
  background-color: #090d1f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid #ffffff;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-weight: 7 00;
  text-align: center;
  text-transform: capitalize;
  margin-top: 50px;
  color: white;
}
button:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;

  text-align: center;
  text-transform: capitalize;
}
button {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 17px;

  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  padding: 15px;
  display: flex;
  top: 120;
  border: none;
  margin: 15px;

  border-radius: 50%;
  border: 3px solid white;
  cursor: pointer;
}

button img {
  transition: transform 0.3s ease-in-out;
  width: 70px;
  background-color: transparent;
  height: 70px;
}
button img:hover {
  transform: scale(1.4);
}
.odnary {
  font-size: 15px;
  padding: 10px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.odnary2 {
  font-size: 17px;
  padding: 10px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  margin-top: 20px;
}
.js-move-show {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: white;
  font-weight: 800;
  margin-top: 30px;
}
.ShowScore {
  margin-top: 20px;
}
.Results {
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
  margin: 10px;
}
.ShowScore * {
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
}
.Winshow {
  color: rgb(0, 255, 0);
}
.losshow {
  color: rgb(231, 77, 77);
}
.Tieshow {
  color: rgb(255, 255, 0);
}

.permission {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 15px;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}
.Yes-permission {
  background-color: rgb(42, 128, 42);
  border-radius: 5px;
  color: white;
  border: none;
  align-items: center;
  font-size: 15px;
}
.No-permission {
  background-color: rgb(255, 0, 0);
  border-radius: 5px;
  color: white;
  border: none;
  align-items: center;
  font-size: 15px;
}
.reset-cb {
  margin-left: 5px;
}
.last {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -20px;
  color: white;
  font-size: 17px;
}
.last a {
  color: rgb(0, 229, 255);
  text-decoration: none;
  font-size: 15px;
  padding: 5px;
}
@media (max-width: 700px) {
  h1 {
    padding: 5px;
  }

  .cont {
    width: 96vw;
    height: 66vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #060c28;
  }
  button img {
    transition: transform 0.3s ease-in-out;
    width: 50px;
    background-color: transparent;
    height: 50px;
  }
  .container {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-top: 0px;
  }
  .js-move-show {
    margin-top: 0px;
  }
  .permission {
    margin-bottom: 10px;
  }
  .last {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-top: 100px;
    position: relative;
    bottom: -10px;
    color: white;
    font-size: 17px;
  }
  .last a {
    color: rgb(0, 229, 255);
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
  }
}
@media (min-width: 701px) and (max-width: 1100px) {
  body * {
    font-size: 1.6em;
  }
  .cont {
    margin-top: -10px;
    width: 96vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #060c28;
  }
  .last {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-top: 90px;
    position: relative;
    bottom: 200px;
    color: white;
    font-size: 17px;
  }
  .last {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-top: 100px;
    position: relative;
    bottom: -10px;
    color: white;
  }
  .last p {
    font-size: 1.2em;
  }
  .last span {
    font-size: 1.3em;
  }
  .last a {
    color: rgb(0, 229, 255);
    text-decoration: none;
    font-size: 1.3em;
    font-style: italic;
    padding: 5px;
  }
}
